{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block heads %}
<meta name="description" content="{% trans "We showcase our top achievements in website design and Development, combining creativity and professionalism to turn ideas into exceptional digital realities." %}">
{% endblock heads %}

{% block sheri %}
<div class="container border my-5 rounded-3 p-md-5">
    <!-- card -->
    <div class="py-4  rounded-3">
        <div class="text-center mb-3">
            <img width="75" src="{% static 'img/gif/diamond2.gif' %}" alt="">
        </div>
        <h1 class="text-center mb-4">
            <span>{% trans "Discover the <br>greatest projects" %}
        </h1>
        <img src="https://framerusercontent.com/images/2e8WoTEO4dR98fSKMui9K7msB98.png?scale-down-to=1024" alt="" class="w-100 rounded-4 border mb-4">
        <div class="d-flex justify-content-between mb-3">
            <h3>Clot</h3>
            <h5>2024</h5>
        </div>
        <button class="btn bg-primary-subtle rounded-4">
            <i class="fa-solid fa-sun"></i>
            {% trans "Web design" %}
        </button>
        <button class="btn bg-warning-subtle rounded-4">
            <i class="fa-solid fa-code"></i>
            {% trans "Development" %}
        </button>
    </div>
    <!-- end card -->

    <!-- card -->
    <div class="py-4  rounded-3">
        <div class="text-center mb-3">
            <img width="75" src="{% static 'img/gif/diamond2.gif' %}" alt="">
        </div>

        <img src="https://framerusercontent.com/images/T5S64WcbRr6J0bcY29k2CqEAVWI.png?scale-down-to=1024" alt="" class="w-100 rounded-4 border mb-4">
        <div class="d-flex justify-content-between mb-3">
            <h3>Rubenda {% trans "web-app" %}</h3>
            <h5>2024</h5>
        </div>
        <button class="btn bg-primary-subtle rounded-4">
            <i class="fa-solid fa-sun"></i>
            {% trans "Web design" %}
        </button>
        <button class="btn bg-warning-subtle rounded-4">
            <i class="fa-solid fa-code"></i>
            {% trans "Development" %}
        </button>
    </div>
    <!-- end card -->

        <!-- card -->
        <div class="py-4  rounded-3">
            <div class="text-center mb-3">
                <img width="75" src="{% static 'img/gif/diamond2.gif' %}" alt="">
            </div>

            <img src="https://framerusercontent.com/images/YX6nlfF7O8BZTfuSc3YIfhz8VM.png?scale-down-to=512" alt="" class="w-100 rounded-4 border mb-4">
            <div class="d-flex justify-content-between mb-3">
                <h3>ScaleAI {% trans "website" %}</h3>
                <h5>2024</h5>
            </div>
            <button class="btn bg-primary-subtle rounded-4">
                <i class="fa-solid fa-sun"></i>
                {% trans "Web design" %}
            </button>
            <button class="btn bg-warning-subtle rounded-4">
                <i class="fa-solid fa-code"></i>
                {% trans "Development" %}
            </button>
        </div>
        <!-- end card -->

        <!-- card -->
        <div class="py-4  rounded-3">
            <div class="text-center mb-3">
                <img width="75" src="{% static 'img/gif/diamond2.gif' %}" alt="">
            </div>

            <img src="https://framerusercontent.com/images/sNVQXrXrKZyEbv4LqsmvIO8Hgg.png?scale-down-to=1024" alt="" class="w-100 rounded-4 border mb-4">
            <div class="d-flex justify-content-between mb-3">
                <h3>Biblioteq cafe {% trans "mobile-app" %}</h3>
                <h5>2024</h5>
            </div>
            <button class="btn bg-primary-subtle rounded-4">
                <i class="fa-solid fa-sun"></i>
                {% trans "Web design" %}
            </button>
            <button class="btn bg-warning-subtle rounded-4">
                <i class="fa-solid fa-code"></i>
                {% trans "Development" %}
            </button>
        </div>
        <!-- end card -->

        <!-- card -->
        <div class="py-4  rounded-3">
            <div class="text-center mb-3">
                <img width="75" src="{% static 'img/gif/diamond2.gif' %}" alt="">
            </div>

            <img src="https://framerusercontent.com/images/rEY0OXLSYfuFryvyMcUZgtryU.png?scale-down-to=1024" alt="" class="w-100 rounded-4 border mb-4">
            <div class="d-flex justify-content-between mb-3">
                <h3>SeeUS {% trans "website" %}</h3>
                <h5>2024</h5>
            </div>
            <button class="btn bg-primary-subtle rounded-4">
                <i class="fa-solid fa-sun"></i>
                {% trans "Web design" %}
            </button>
 
        </div>
        <!-- end card -->

        <!-- card -->
        <div class="py-4  rounded-3">
            <div class="text-center mb-3">
                <img width="75" src="{% static 'img/gif/diamond2.gif' %}" alt="">
            </div>

            <img src="https://framerusercontent.com/images/QcbkEzbhf2RZzAvSkQsKbHiAnM.png" alt="" class="w-100 rounded-4 border mb-4">
            <div class="d-flex justify-content-between mb-3">
                <h3>Wato {% trans "web-app" %}</h3>
                <h5>2024</h5>
            </div>
            <button class="btn bg-primary-subtle rounded-4">
                <i class="fa-solid fa-sun"></i>
                {% trans "Web design" %}
            </button>
            <button class="btn bg-warning-subtle rounded-4">
                <i class="fa-solid fa-code"></i>
                {% trans "Development" %}
            </button>
        </div>
        <!-- end card -->

        <div class="text-center">
            <img width="75" src="{% static 'img/gif/Achievement.gif' %}" alt="">
        </div>
        <h2 class="text-center mb-4">
            <span>{% trans "And more than <br>125 projects" %}
        </h2>
</div>
{% endblock sheri %}